{{#if logged_in}}

  <form action="/api/users/logout" method="POST"> <!-- Assuming this is the logout route -->
    <button type="submit" class="btn">Logout</button>
  </form>
{{/if}}

<h2>Your Posts</h2>

{{#if posts.length}}
  <ul>
    {{#each posts}}
      <li>
        <h3>{{this.dataValues.title}}</h3>
        <p>{{this.dataValues.text}}</p>
        <p>Posted by <span class="post-username">{{this.user.dataValues.name}}</span> on {{format_date this.dataValues.created_at}}</p>
        <button class="btn edit-post-btn" data-id="{{this.dataValues.id}}">Edit</button>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No posts available.</p>
{{/if}}