<!-- dashboard.hbs -->
<h2>Your Posts</h2>

{{#if post.length}}
  <ul>
    {{#each post}}
      <li>
        <h3>{{post.title}}</h3>
        <p>{{post.text}}</p>
        <p>Created at: {{format_date post.created_at}}</p>
        <p>Created by: {{post.user.name}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No posts available.</p>
{{/if}}