<h2>Your Posts</h2>

{{#if posts.length}}
  <ul>
    {{#each posts}}
      <li>
        <div class="post-details">
          <h3>{{this.dataValues.title}}</h3>
          <p>{{this.dataValues.text}}</p>
          <p>Posted by <span class="post-username">{{this.user.dataValues.name}}</span> on {{format_date this.dataValues.created_at}}</p>
        </div>

        <h4>Comments:</h4>
        {{#if this.comments.length}}
          <ul>
            {{#each this.comments}}
              <li>
                <div class="comment-details">
                  <p>{{this.dataValues.comment_text}}</p>
                  <p>Comment by {{../user.dataValues.name}} on {{format_date this.dataValues.created_at}}</p>
                </div>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <p>No comments available.</p>
        {{/if}}


<a href="/api/posts/{{this.dataValues.id}}" class="btn view-post-btn" data-post-id="{{this.dataValues.id}}">View Post</a>

        <!-- Add button to edit post -->
        <a href="/dash/edit/{{this.dataValues.id}}" class="btn edit-post-btn">Edit Post</a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No posts available.</p>
{{/if}}

<button type="button" class="btn"><a class="text-light" href="/dash/new">Add New Post</a></button>

{{!-- Include client-side JavaScript to handle comment submission --}}
<script src="/js/comment.js"></script>
