{{#if posts.length}}
  <ul>
    {{#each posts}}
      <div class="post-container"> <!-- Move post-container class inside each iteration -->
        <h3>{{this.dataValues.title}}</h3>
        <p>{{this.dataValues.text}}</p>
        <p>Posted by <span class="post-username">{{this.user.dataValues.name}}</span> on {{format_date this.dataValues.created_at}}</p>
      
        <h4>Comments:</h4>
        {{#if this.comments.length}}
          <ul>
            {{#each this.comments}}
              <div class="comment-details">
                <p>{{this.dataValues.comment_text}}</p>
                <p>Comment by {{../user.dataValues.name}} on {{format_date this.dataValues.created_at}}</p>
              </div>
            {{/each}}
          </ul>
        {{else}}
          <p>No comments available.</p>
        {{/if}}
      </div> <!-- Close post-container class inside each iteration -->
    {{/each}}
  </ul>
{{else}}
  <p>No posts available.</p>
{{/if}}