{{#if posts.length}}
  <ul>
    {{#each posts}}
      <div class="post-container">
        <div class="post-details">
          <h3>{{this.dataValues.title}}</h3>
          <p>{{this.dataValues.text}}</p>
          <p>Posted by <span class="post-username">{{this.user.dataValues.name}}</span> on {{format_date this.dataValues.created_at}}</p>
        </div>

        <h4>Comments:</h4>
        {{#if this.comments.length}}
          <ul>
            {{#each this.comments}}
                <div class="comment-details">
                  <p>{{this.dataValues.comment_text}}</p>
                  <p>Comment by {{../user.dataValues.name}} on {{format_date this.dataValues.created_at}}</p>
                </div>
            {{/each}}
          </ul>
        {{else}}
          <p>No comments available.</p>
        {{/if}}

        <!-- Form for adding a new comment -->
        <form class="add-comment-form" action="/api/comments/{{this.dataValues.id}}" method="POST"> <!-- Include the post ID in the action URL -->
          <div>
            <label for="commentText">Add Comment:</label><br>
            <textarea class="comment-text" name="comment_text" rows="4" cols="50"></textarea>
            <input type="hidden" name="post_id" value="{{this.dataValues.id}}">
          </div>
          <button type="submit" class="add-comment-btn">Submit</button>
        </form>
      </div>
    {{/each}}
  </ul>
{{else}}
  <p>No posts available.</p>
{{/if}}
